<p id="notice"><%= notice %></p>

<h1>Listing Values</h1>

<table>
  <thead>
    <tr>
      <th>Temp</th>
      <th>Sound</th>
      <th>Light</th>
      <th>SensorTag</th>
      <th>Location</th>
      <th>Created At:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @values.each do |value| %>
      <tr>
        <td><%= value.temp %></td>
        <td><%= value.sound %></td>
        <td><%= value.light %></td>
        <td><%= value.sensor.try(:tagname) %></td>
        <td><%= value.sensor.try(:location).try(:name) %></td>
        <td><%= value.created_at %></td>
        <td><%= link_to 'Show', value %></td>
        <td><%= link_to 'Edit', edit_value_path(value) %></td>
        <td><%= link_to 'Destroy', value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Value', new_value_path %>
