<p id="notice"><%= notice %></p>

<p>
  <strong>Temp:</strong>
  <%= @value.temp %>
</p>

<p>
  <strong>Sound:</strong>
  <%= @value.sound %>
</p>

<p>
  <strong>Light:</strong>
  <%= @value.light %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @value.sensor %>
</p>

<%= link_to 'Edit', edit_value_path(@value) %> |
<%= link_to 'Back', values_path %>
